.favoriteContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  
    margin: 50px 40px;
    gap: 20px;

    justify-content: space-around;

    

  }

  
  /* denna behövs om man gör en delete knapp */
  /* .favoriteItems {
    position: relative;
  } */

  
  .favoriteImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  .text {
    display: grid;
    justify-content: center;
  }