.logoutBtn {
    background-color: #429e9b;
    height: 30px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media screen and (max-width: 992px) {

    .logoutBtn {
        height: 35px;
    }
} */