@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.searchInput {
  border-radius: 20px;
  height: 40px;
  width: 400px;
  font-family: ojuju, sans-serif;
  font-size: 1em;
  padding-left: 10px;
}

.searchInput:focus {
  outline: none;
}

.searchBtn {
  width: 70px;
  height: 46px;
  background-color: #429e9b;
  margin-left: 15px;
  border-radius: 25px;
  padding-top: 1px;
}

.time {
  display: flex;
  justify-content: center;
}

.spelling {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .searchInput {
    height: 37px;
  }

  .searchBtn {
    height: 43px;
  }
}

@media screen and (max-width: 576px) {
  .formContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .searchInput {
    height: 35px;
  }

  .searchBtn {
    height: 41px;
  }
}
