.resultsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  margin-top: 20px;
  gap: 20px;
}

.resultsItems {
  position: relative;
}

.img {
  height: 200px;
  width: 220px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;
  width: 25px;
  background-color: #429e9b;
  border-radius: 7px;

  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;

  outline: none !important;
}

.btn.favorite {
  color: red;
}

.btn.active {
    box-shadow: 0 0 5px #183a39;
    
}

/* .heart-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(224, 224, 224);
   
  }
   
  .heart-icon:hover {
    color: red;
  }
   
  .heart-icon.clicked {
    color: red;
  } */
