.resultsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  margin: 50px 40px;
  gap: 20px;
}

.resultsItems {
  position: relative;
}

.resultsImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.favoriteBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 35px;
  width: 35px;
  background-color: #429e9b;
  border-radius: 7px;
  outline: none !important;

  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
}

.favoriteBtn.favorite {
  color: red;
}

.favoriteBtn.active {
  box-shadow: 0 0 5px #183a39;
}

p {
  font-size: 1.1em;
}

@media screen and (max-width: 1400px) {
  .favoriteBtn {
    height: 33px;
    width: 33px;
  }
}

@media screen and (max-width: 1200px) {
  .favoriteBtn {
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 992px) {
  .favoriteBtn {
    height: 27px;
    width: 27px;
  }
}

@media screen and (max-width: 768px) {
  .favoriteBtn {
    height: 25px;
    width: 25px;
  }
}

@media screen and (max-width: 576px) {
  .favoriteBtn {
    height: 22px;
    width: 22px;
  }
}
